<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
<meta name="description" content="" />
<meta name="author" content="" />
<link rel="icon" href="/favicon.svg" />

<title>SDC 2020</title>

<link rel="stylesheet" href="/css/main.css?ver=1.0" />
<link rel="stylesheet" href="/css/app.css?ver=1.0" />
