<!DOCTYPE html>
<html lang="en" class="h-100">
  <head>
    <%- include('partials/head') %>
  </head>

  <body class="d-flex flex-column h-100">
    <%- include('partials/header') %>

    <!-- <main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4"></main> -->
    <main role="main" class="container">
      <%- PAGE %>
    </main>

    <%- include('partials/footer') %>
  </body>
</html>
