<main role="main" class="container">
  <div class="hero__embed">
    <div class="hero__embed-inner">
      <iframe src="https://www.youtube.com/embed/Ty1ahLX7FlM" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen&gt;"=""></iframe>
    </div>
  </div>
</main>
