<form class="form-signin" action="signin" method="post">
  <div class="text-center mb-4">
    <img class="mb-4" src="/favicon.svg" alt="" width="72" height="72" />
    <h1 class="h3 mb-3 font-weight-normal">SDC 2020</h1>
    <p>Samsung Developer Conference 2020</p>
  </div>

  <div class="form-label-group">
    <input
      type="email"
      id="inputEmail"
      class="form-control"
      placeholder="Email address"
      required=""
      autofocus=""
      name="useremail"
    />
    <label for="inputEmail">Email address</label>
  </div>

  <div class="form-label-group">
    <input
      type="password"
      id="inputPassword"
      class="form-control"
      placeholder="Password"
      required=""
      name="userpassword"
    />
    <label for="inputPassword">Password</label>
  </div>

  <div class="checkbox mb-3">
    <label> <input type="checkbox" value="remember-me" /> Remember me </label>
  </div>
  <!-- <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button> -->
  <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
  <p class="mt-5 mb-3 text-muted text-center">© SDC2020</p>
</form>
